@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: #99C3F8;
    --text-color: #fff;
    --primary-color: #102857;
    --secondary-color: #06296f;
    --tertiary-color: #058596;
    --btn-bg-color-gradient: linear-gradient(45deg,
            #9b34ef 0%,
            #490cb0 20%,
            transparent 50%);
    --btn-link-bg-color: #fff;
    --btn-link-color: #000;
    --card-bg-color: linear-gradient(0deg, transparent, #3b1e63);
    --divider-bg-color: linear-gradient(90deg,
            #5516ba,
            rgba(255, 0, 229, 0.5) 80%);
    --nav-bg-color: linear-gradient(90deg, #00d4ff00 0%, #06296f 20%, #102857 100%);

    --content-left-bg-color: linear-gradient(-90deg, #00d4ff00 0%, #06296f 40%, #102857 100%);

    --content-right-bg-color: linear-gradient(90deg, #00d4ff00 0%, #218794 40%, #058596 100%);
    
    --link-color: #9e86ff;
    --form-bg-color: rgba(211, 211, 211, 0.06);
    --form-field-bg-color: rgba(0, 0, 0, 0.2);
    --form-field-border: 1px solid rgba(255, 255, 255, 0.7);
    --form-field-placeholder: rgba(255, 255, 255, 0.7);
    --form-field-error: rgb(255, 76, 76);

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 15px;
    }
    
    header { grid-area: 1 / 1 / 2 / 5; }
    main { grid-area: 2 / 1 / 5 / 5; }
    footer { grid-area: 5 / 1 / 5 / 5; }