@use 'variables' as v;
@use 'mixins' as mx;
@use 'placeholders' as p;

footer {
    font-size: clamp(0.9rem, 2vw, 1rem);
    background: v.$primary-color;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    text-align: center;

    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
        max-width: 80%;
        border-radius: 15px;
    }

    p {
        margin: 0.4rem 0;
    }

    a {
        color: v.$text-color-light;
        text-decoration: none;
        font-weight: 600;

        &:hover {
            color: v.$quaternary-color;
            border-radius: 20px;
            transition: all 0.2s ease-in;
        }
    }
}