@use 'variables' as v;
@use 'placeholders' as p;



@mixin thunder-flash() {
    background-size: 20%;
    background-color: #fff;
    animation: thunder-flash 0.5s ease-in-out 3;

    @keyframes thunder-flash {

        0%,
        100% {
            opacity: 1;
        }

        50% {
            opacity: 0.9;
        }
    }
}